.callback {

    .callback__form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include phones() {
            flex-direction: column;
            justify-content: center;
        }
    }

    .form__inp {
        border: 1px solid $black;
        padding: 15px 20px;
        width: 30%;
        height: 50px;

        @include phones() {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .callback__btn {
        width: 30%;
        height: 50px;

        @include phones() {
            width: 100%;
        }
    }

    .text__title {
        font-size: 24px;
        font-weight: bold;
    }
}