.footer {
    background: $black;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 20px;

    .footer__top {
        display: flex;
        align-items: center;

        .top__logo {
            width: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .top__logo-link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    .top__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include phones() {
            flex-direction: column;
            justify-content: center;
        }

        .item__link {
            color: #ffffff;
            font-size: 16px;
            text-decoration: none;
            transition: .3s;

            @include tablets() {
                font-size: 14px;
            }

            &:hover {
                color: $red;
            }
        }
    }

    .footer__center {
        display: flex;
        justify-content: space-around;
        margin: 50px 0;

        @include tablets() {
            margin: 20px 0;
        }

        .center__item {
            @include tablets() {
                margin-bottom: 10px;
            }
        }

        .center__item, .item__link {
            display: flex;
            align-items: center;
            color: #ffffff;
            text-decoration: none;
            transition: .3s;
            font-size: 14px;

            @include tablets() {
                padding: 0;
                justify-content: center;
            }

            &:hover {
                color: $red;
            }
        }

        .link__img {
            margin-right: 30px;
            height: 24px;
            width: 24px;

            @include tablets() {
                margin-right: 10px;
            }
        }

        .item__btn {
            margin-left: 5px;
            background: none;
            text-decoration: underline;
            color: #ffffff;
            transition: .3s;
            padding: 0;

            @include tablets() {
                padding: 0;
                height: inherit;
            }

            &:hover {
                color: $red;
            }
        }
    }

    .footer__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;

        @include phones() {
            justify-content: center;
            text-align: center;
        }

        .bottom__rp {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            text-decoration: none;
            font-size: 18px;
            transition: .3s;

            @include phones() {
                flex-direction: column;
            }

            &:hover {
                color: $red;
            }

            .rp__logo {
                margin-left: 30px;

                @include phones() {
                    margin: 0;
                }
            }
        }
    }
}