.header {
    .header__top {
        background: #273238;

        .top__link {
            display: flex;
            text-decoration: none;
            align-items: center;
            color: #ffff;
            transition: .3s;

            &:hover {
                color: $red;
            }
        }

        .link__img {
            margin-right: 10px;
        }

        .top__col {
            display: flex;
            align-items: center;

            &--clock {
                margin-right: auto;
            }

            &--phone {
                justify-content: flex-end;
            }
        }

        .top__btn {
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffff;
            text-decoration: underline;
            height: 100%;
            cursor: pointer;
            transition: .3s;
            margin-left: 10px;

            &:hover {
                color: $red;
            }
        }
    }

    .header__bottom {
        padding-top: 10px;

        .bottom__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .list__item {
            color: $black;
            text-decoration: none;
            font-size: 16px;
            transition: .3s;

            &:hover {
                color: $red;
            }
        }

        .bottom__block-btn {
            display: flex;
            justify-content: flex-end;
        }
    }
}