.plus {

    .plus__wrap {
        align-items: center;
        display: flex;
    }

    .img__img {
        width: 100%;
    }

    .plus__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;

        .list__item {
            display: flex;
            flex-direction: column;
            width: 45%;
            margin-bottom: 50px;

            .top__icon {
                margin-right: 15px;
            }

            .item__top {
                display: flex;
                align-items: center;
            }

            .item__text {
                padding-left: 40px;
            }
        }
    }
}