.reviews {
    .reviews__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .list__item {
            width: 45%;
            margin-bottom: 30px;

            @include tablets() {
                width: 100%;
            }

            .item__img {
                width: 100%;
            }
        }
    }
}