<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>РемДиски</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./assets/styles/config/bootstrap-grid.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="row header__top">
                <div class="container top__container">
                    <div class="row top__row">
                        <div class="col-md-4 top__col">
                            <a href="#" class="top__link">
                                <img src="./assets/images/header/address.png" alt="Адресс" class="link__img">
                                <p class="link__text">
                                    г. Челябинск, ул. Краснопольский проспект 1/2
                                </p>
                            </a>
                        </div>
                        <div class="col-md-4 mr-auto top__col top__col--clock">
                            <a href="#" class="top__link">
                                <img src="./assets/images/header/clock.png" alt="График работы" class="link__img">
                                <p class="link__text">
                                    График работы: с 9:00 до 20:00
                                </p>
                            </a>
                        </div>
                        <div class="col-md-4 top__col top__col--phone">
                            <a href="#" class="top__link">
                                <img src="./assets/images/header/phone.png" alt="Телефон" class="link__img">
                                <p class="link__text">
                                    +8 (922) 744-20-10
                                </p>
                            </a>
                            <button class="top__btn">
                                Заказать звонок
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row header__bottom">
                <div class="container bottom__container">
                    <div class="row bottom__content">
                        <button class="col-sm-2 bottom__burger"><i class="fas fa-bars"></i></button>
                        <a href="#" class="col-md-2 col-sm-4 bottom__link">
                            <img src="./assets/images/logo.png" alt="Логотип" class="link__img">

                        </a>
                        <ul class="col bottom__list">
                            <li class="list__item">
                                <a href="#" class="list__item">Наши услуги</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="list__item">Наши работы</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="list__item">О компании</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="list__item">Прайс-лист</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="list__item">Акции</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="list__item">Партнеры</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="list__item">Отзывы</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="list__item">Контакты</a>
                            </li>
                        </ul>
                        <div class="col-md-2 col-sm-6 bottom__block-btn">
                            <button class="btn bottom__btn">Заказать услугу</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="section price">
            <div class="container price__container">
                <div class="price__content">
                    <div class="content__text">
                        <h2 class="text__title">Покраска мото дисков</h2>
                        <p class="text__text">
                            Компания Right Wheels — специализированный сервисный центр по профессиональному ремонту
                            литых, стальных и кованых дисков.
                        </p>
                        <p class="text__text">
                            Компания была основана в 2013 году и является динамично развивающейся компанией
                            специализирующейся на ремонте литых дискови шин.
                        </p>
                        <p class="text__text">
                            Компания была основана в 2013 году и является динамично развивающейся компанией
                            специализирующейся на ремонте литых дискови шин.
                        </p>
                        <button class="btn text__btn">Заказать услугу</button>
                    </div>
                    <img src="./assets/images/service-price.png" alt="" class="content__img">
                </div>
                <div class="price__list">
                    <h2 class="list__title">Порошковая покраска дисков</h2>
                    <table class="list__table">
                        <tr class="table__row">
                            <th class="table__title">Диски</th>
                            <th class="table__title">Покраска в один цвет</th>
                            <th class="table__title">Покраска с кантом</th>
                            <th class="table__title">Покраска в два цвета</th>
                        </tr>
                        <tr class="table__row">
                            <th>R12-R14</th>
                            <td>6 000 ₽</td>
                            <td>от 10 000 ₽</td>
                            <td>от 12 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <th>R15</th>
                            <td>7 000 ₽</td>
                            <td>от 11 000 ₽</td>
                            <td>6 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <th>R16</th>
                            <td>8 000 ₽</td>
                            <td>от 12 000 ₽</td>
                            <td>7 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <th>R17</th>
                            <td>9 000 ₽</td>
                            <td>от 13 000 ₽</td>
                            <td>8 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <th>R18</th>
                            <td>10 000 ₽</td>
                            <td>от 14 000 ₽</td>
                            <td>9 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <th>R19</th>
                            <td>11 000 ₽</td>
                            <td>от 15 000 ₽</td>
                            <td>10 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <th>R20</th>
                            <td>12 000 ₽</td>
                            <td>от 16 000 ₽</td>
                            <td>11 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <th>R21</th>
                            <td>12 000 ₽</td>
                            <td>от 16 000 ₽</td>
                            <td>12 000 ₽</td>
                        </tr>
                        <tr class="table__row">
                            <th>R22</th>
                            <td>13 000 ₽</td>
                            <td>от 17 000 ₽</td>
                            <td>13 000 ₽</td>
                        </tr>
                    </table>
                    <table class="list__table">
                        <tr>
                            <th class="table__double">Клапанная крышка</th>
                            <td class="table__double">от 800 ₽</td>
                        </tr>
                        <tr>
                            <th class="table__double">Диски (мопед) 2 шт.</th>
                            <td class="table__double">2 000 ₽</td>
                        </tr>
                        <tr>
                            <th class="table__double">Диски (мото) 2 шт.</th>
                            <td class="table__double">3 000 ₽</td>
                        </tr>
                        <tr>
                            <th class="table__double">Суппорта 2 шт.</th>
                            <td class="table__double">1 500 ₽</td>
                        </tr>
                        <tr>
                            <th class="table__double">Суппорта 2 шт. с нанесением логотипа</th>
                            <td class="table__double">2 500 ₽</td>
                        </tr>
                        <tr>
                            <th class="table__double">Суппорта 4 шт.</th>
                            <td class="table__double">3 000 ₽</td>
                        </tr>
                        <tr>
                            <th class="table__double">Суппорта 4 шт. с нанесением логотипа</th>
                            <td class="table__double">4 000 ₽</td>
                        </tr>
                        <tr>
                            <th class="table__double">Велосипедная рама</th>
                            <td class="table__double">от 1 200 ₽</td>
                        </tr>
                        <tr>
                            <th class="table__double">Выпресовка подшипников</th>
                            <td class="table__double">от 500 ₽</td>
                        </tr>
                        <tr>
                            <th class="table__double">Покраска центров R16-R18 (с маскировкой посадочных мест)</th>
                            <td class="table__double">от 1000 ₽</td>
                        </tr>
                        <tr>
                            <th class="table__double">Покраска центров R19-R20 (с маскировкой посадочных мест)</th>
                            <td class="table__double">от 1500 ₽</td>
                        </tr>
                    </table>
                    <p class="list__text">
                        Пескоструйная обработка (мы не берем наценку за удаление порошкового покрытия!)
                        <br> Нанесение грунтового слоя.
                        <br> Нанесение основного цвета.
                        <br> Нанесение порошкового лака (на выбор три вида лака, глянцевый, полу матовый, супер
                        матовый).
                    </p>
                    <p class="list__text">
                        * Цены указанны за комплект (4 диска)
                        <br> **Гарантия на порошковую покраску дисков 2 года.
                    </p>
                </div>
            </div>
        </section>
        <section class="section works">
            <div class="container works__container">
                <div class="title-wrap">
                    <p class="title__num">01</p>
                    <h2 class="title services__title">
                        Наши работы
                    </h2>
                </div>
                <div class="works__wrap">
                    <button class="works__arrow works__arrow--l">
                        <img src="./assets/images/works/arrow-l.png" alt="" class="arrow__img">
                    </button>
                    <button class="works__arrow works__arrow--r">
                        <img src="./assets/images/works/arrow-r.png" alt="" class="arrow__img">
                    </button>
                    <div class="works__slider">
                        <div class="slider__slide">
                            <div class="slide__from">
                                <h3 class="from__title">До</h3>
                                <img src="./assets/images/works/from.png" alt="До" class="from__img">
                            </div>
                            <div class="slide__from">
                                <h3 class="from__title">После</h3>
                                <img src="./assets/images/works/after.png" alt="После" class="from__img">
                            </div>
                        </div>
                        <div class="slider__slide">
                            <div class="slide__from">
                                <h3 class="from__title">До</h3>
                                <img src="./assets/images/works/from.png" alt="До" class="from__img">
                            </div>
                            <div class="slide__from">
                                <h3 class="from__title">После</h3>
                                <img src="./assets/images/works/after.png" alt="После" class="from__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section about">
            <div class="container about__container">
                <div class="title-wrap">
                    <p class="title__num">02</p>
                    <h2 class="title services__title">
                        О сервисе
                    </h2>
                </div>
                <p class="text about__text">
                    Мы ценим время наших клиентов и стараемся выполнить все работы в максимально короткое время c
                    гарантией качества!
                </p>
                <div class="about__double">
                    <p class="text double__text">
                        Компания Right Wheels — лидер в отрасли реставрации автомобильных комплектующих таких как:
                        Покраска дисков, Окраска тормозных суппортов, клапанных крышек и др. металлических деталей
                        вашего автомобиля.
                    </p>
                    <p class="text double__text">
                        Компания была основана в 2013 году и является динамично развивающейся компанией. Основное
                        направление компании RW - это ремонт автомобильных дисков любой сложности и порошково -
                        полимерная окраска дисков в любые цвета!
                    </p>
                </div>
                <img src="./assets/images/about.png" alt="О сервисе" class="about__img">
            </div>
        </section>
        <section class="section callback">
            <div class="container callback__container">
                <div class="row callback__wrap">
                    <div class="col-md-3 callback__text">
                        <h2 class="text__title">Остались вопросы?</h2>
                        <p class="text__about">
                            Оставьте заявку и мы свяжемся с вами в течение 30 минут
                        </p>
                    </div>
                    <form class="col-md-9 callback__form">
                        <input type="text" class="inp form__inp" placeholder="Ваше имя">
                        <input type="text" class="inp form__inp" placeholder="Ваш номер телефона">
                        <button class="btn callback__btn">Заказать услугу</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="section contacts">
            <div class="container contacts__container">
                <div class="contacts__map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5f2138ceee273c87d86dc6ae207a9ffd63b61158b0fa1e0b36dd490b50b0a7b2&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
                <ul class="contacts__content">
                    <li class="content__item">
                        <img src="./assets/images/contacts/address.png" alt="Адресс" class="item__img">
                        <p class="item__text">г. Челябинск, ул. Краснопольский проспект 1/2</p>
                    </li>
                    <li class="content__item">
                        <a href="#" class="item__link">
                            <img src="./assets/images/contacts/phone.png" alt="Телефон" class="item__img">
                            <p class="item__text">+8 (922) 744-20-10</p>
                        </a>
                    </li>
                    <li class="content__item">
                        <img src="./assets/images/contacts/clock.png" alt="Часы работы" class="item__img">
                        <p class="item__text">График работы: с 9:00 до 20:00</p>
                    </li>
                </ul>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <div class="row footer__top">
                    <div class="col-md-3 top__logo-link">
                        <a href="#" class="top__logo"><img src="./assets/images/logo.png" alt="Logo" class="logo__img"></a>
                    </div>
                    <ul class="col-md-9 top__list">
                        <li class="list__item"><a href="#" class="item__link">Главная</a></li>
                        <li class="list__item"><a href="#" class="item__link">Диски</a></li>
                        <li class="list__item"><a href="#" class="item__link">Шиномонтаж</a></li>
                        <li class="list__item"><a href="#" class="item__link">Доп.Услуги</a></li>
                        <li class="list__item"><a href="#" class="item__link">О компании</a></li>
                        <li class="list__item"><a href="#" class="item__link">Отзывы</a></li>
                        <li class="list__item"><a href="#" class="item__link">Акции</a></li>
                        <li class="list__item"><a href="#" class="item__link">Контакты</a></li>
                    </ul>
                </div>
                <ul class="row footer__center">
                    <li class="col-md-4 center__item">
                        <a href="#" class="item__link">
                            <img src="./assets/images/contacts/phone.png" alt="Телефон" class="link__img">
                            +8 (922) 744-20-10
                        </a>
                        <button class="btn item__btn">Заказать звонок</button>
                    </li>
                    <li class="col-md-4 center__item">
                        <img src="./assets/images/contacts/address.png" alt="Телефон" class="link__img">
                        г. Челябинск, ул. Краснопольский проспект 1/2
                    </li>
                    <li class="col-md-4 center__item">
                        <img src="./assets/images/contacts/clock.png" alt="Телефон" class="link__img">
                        График работы: с 9:00 до 20:00
                    </li>
                </ul>
                <div class="row footer__bottom">
                    <p class="bottom__text">© Автосервис, 2018</p>
                    <a href="#" class="bottom__rp">
                        Создание и продвижение сайта
                        <img src="./assets/images/rp-logo.png" alt="Reactive Promotion" class="rp__logo">
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>